﻿@model FoodApp_MVC.Models.User

@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/LogInLayout.cshtml";
}

<h1 class="text-danger">LogIn</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input type="submit" value="Login" class="btn btn-danger m-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserRegisteration">Register New Account</a>
</div>

