﻿@using FoodApp_MVC.Constants
@model FoodApp_MVC.Models.User

@{
    ViewData["Title"] = "UserRegisteration";
    Layout = "~/Views/Shared/LogInLayout.cshtml";
}

<h1 class="text-danger" >Registration</h1>

<hr />
<div class="row ">
    <div class="col-md-4">
        <form asp-action="UserRegisteration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control" asp-items="@Html.GetEnumSelectList<RoleEnum>()">
                    <option value="" >Select</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger m-3" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
