﻿
@model IEnumerable<FoodApp_MVC.Models.CartItems>
@{
    ViewData["Title"] = "BuyNow";
}

<h1>Your Bill</h1>
<hr />
<h5>InVoiceNo:</h5>
<h3 class="text-secondary"> @ViewBag.InVoiceNo</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
             
            
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @(item.TotalPrice/item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
               
            </tr>
        }
    </tbody>
</table>
<h1 class="d-flex justify-content-center">Total Bill:@ViewBag.sum/-</h1>

