﻿@model FoodApp_MVC.Models.CartItems

@{
    ViewData["Title"] = "EditCartItems";
}


<h4>@Model.FoodName</h4>
<hr />
<div class="d-flex ">
    <div class="flex-fill">       
        <h6 class="text-secondary">#@Model.OrderId</h6>
        <h6 class="badge bg-danger" >@Model.FoodCategory</h6> 
         <h4 class="card-text">Price=@(Model.TotalPrice/Model.Quantity)</h4>
        <h4 class="card-text">Current Quantity=@Model.Quantity</h4>
    

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCartItems">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" placeholder="@Model.OrderId"/>
           
          
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            
            <div class="form-group my-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
         <a   asp-action="DeleteCart" asp-route-id="@Model.OrderId" class="btn btn-warning">Delete</a>
    </div>
</div>
</div>
<div class="flex-fill">
    <img src="@Model.ImgPath" width="400" height="400" />
</div>
</div>


