﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<FoodApp_MVC.Models.CartItems>

@{
    ViewData["Title"] = "ShowToCart";
}

<h1 class="h2 pb-2 m-4 text-warning border-bottom border-3 border-warning">MyCart</h1>

<div class="d-flex flex-wrap ">
@foreach(var item in Model){
    <div class="card m-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="@item.ImgPath" class="img-fluid rounded-start" style="height:100%;width:100em" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">@item.FoodName</h2>
        <h6 class="badge bg-danger" >@item.FoodCategory</h6>
        <h6 class="card-text">Price=@(item.TotalPrice/item.Quantity)</h6>

        <h6 class="card-text">Quantity=@item.Quantity</h6>
        <hr>
         <h6>Total Price:</h6>
         <div class="d-flex justify-content-between">
            
             <h4 class="text-success" >@item.TotalPrice Rs.</h4>
             <div>
                <a  asp-action="EditCartItems" asp-route-id="@item.OrderId" class="btn btn-warning">Edit</a>
               
            </div>
       </div>
      </div>
    </div>
  </div>
</div>
}
</div>
@if (Model.Count() > 0)
{
    <div>
      <a  asp-action="BuyNow" asp-route-id="" class="btn btn-warning">Buy</a>
               
</div>
}
else{
    <h2 class="text-secondary">Your Cart is Empty , Please Order some Food !!!</h2>
}

