﻿@model IEnumerable<FoodApp_MVC.Models.FoodItems>

@{
    ViewData["Title"] = "ShowMenu";
}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="https://thumbs.dreamstime.com/b/assorted-indian-recipes-food-various-spices-rice-wooden-table-92742528.jpg" class="d-block w-100 "height="400" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-25">
        <h5 >We Bring Tasty food in our everyday life</h5> 
      </div>
      
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/14/39/beans-1834984__340.jpg" class="d-block w-100 " height="400" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-25">
        <h5>Enjoy Every Meal</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://cdn.pixabay.com/photo/2017/09/30/15/10/plate-2802332__340.jpg" class="d-block w-100 " height="400" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-25">
        <h5>Giving your Hunger a new Option</h5>
        
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1 class="h2 pb-2 m-4 text-warning border-bottom border-3 border-warning">Food Menu</h1>

<div class="d-flex flex-wrap  ">
        @foreach(var item in Model)
        {
            <div class="card m-3 border border-secondary" style="width: 18rem;">
             <img src="@item.ImgPath" class="card-img-top" height="350"alt="...">
             <div class="card-body">
            <h5 class="card-title">@item.FoodName</h5>
               
             <h6 class="badge bg-danger" >@item.FoodCategory</h6>
            
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <div class="d-flex justify-content-between">
             <a  asp-action="AddToCart" asp-route-id="@item.FoodId" class="btn btn-warning">Add to cart</a>
             <h3 class="text-success" >@item.Price Rs.</h3>
            </div>
            </div>
            </div>
        }

  </div>