﻿@model FoodApp_MVC.Models.FoodItems
@using FoodApp_MVC.Constants
@{
    ViewData["Title"] = "AddNewFood";
     Layout = "~/Views/Shared/AdminLayout.cshtml"; 
}

<h1 class="text-danger">Add New Food</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewFood">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodCategory" class="control-label"></label>
                <select asp-for="FoodCategory" class ="form-control" asp-items="@Html.GetEnumSelectList<FoodCategory>()">

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgPath" class="control-label"></label>
                <input asp-for="ImgPath" class="form-control" />
                <span asp-validation-for="ImgPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminShowMenu" class="btn btn-warning" >Back</a>
</div>
 
