﻿
@model IEnumerable<FoodApp_MVC.Models.FoodItems>


@{
    ViewData["Title"] = "AdminShowMenu";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@if (TempData["ItemExist"] != null)
{
    
    if ((bool)TempData["ItemExist"]==true)
    {
        <div><h4 class="text-success">New Food is Added Successfuly </h4></div>
    }
    else if ((bool)TempData["ItemExist"] == false )
    {
        <div><h4 class="text-danger">This Food is Already Exist !!!</h4></div>
    } 
}
<h1 class="h2 pb-2 m-4 text-warning border-bottom border-3 border-warning">Food Menu</h1>
<a  asp-action="AddNewFood"  class="btn btn-warning">New +</a>
<div class="d-flex flex-wrap  ">
        @foreach(var item in Model)
        {
            <div class="card m-3 border border-secondary" style="width: 18rem;">
             <img src="@item.ImgPath" class="card-img-top" height="350"alt="...">
             <div class="card-body">
            <h5 class="card-title">@item.FoodName</h5>
               
             <h6 class="badge bg-danger" >@item.FoodCategory</h6>
            
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <div class="d-flex justify-content-between">
             <a  asp-action="AdminEdit" asp-route-id="@item.FoodId" class="btn btn-warning">Edit</a>
             <h3 class="text-success" >@item.Price Rs.</h3>
            </div>
            </div>
            </div>
        }

  </div>