﻿@model FoodApp_MVC.Models.FoodItems
@using FoodApp_MVC.Constants
@{
    ViewData["Title"] = "AdminEdit";
    Layout = "~/Views/Shared/AdminLayout.cshtml"; 
}

<h1>Edit the Food Items </h1>


<hr />
<div class="d-flex ">
    <div class="flex-fill">  
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodId" placeholder="@Model.FoodId" />
            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" placeholder="@Model.FoodName" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodCategory" class="control-label"></label>
                <select asp-for="FoodCategory" class="form-control" placeholder="@Model.FoodCategory" asp-items="@Html.GetEnumSelectList<FoodCategory>()"></select>
                <span asp-validation-for="FoodCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="@Model.Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgPath" class="control-label"></label>
                <input asp-for="ImgPath" class="form-control" placeholder="@Model.ImgPath" required/>
                <span asp-validation-for="ImgPath" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="DeleteFoodItem" asp-route-id="Model.FoodId" class="btn btn-danger m-3" >Delete</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminShowMenu" class="btn btn-warning" >Back</a>
</div>
</div>
<div class="flex-fill">
    <img src="@Model.ImgPath" width="400" height="400" />
</div>
</div>


